@page
@model Gym_Store.Pages.Products.DeleteModel

<form method="post">
    <input asp-for="Product.Id" type="hidden" />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>

        <!-- Product Name -->
        <div class="mb-3 row p-1">
            <label asp-for="Product.Name" class="col-form-label p-0"></label>
            <input asp-for="Product.Name" class="form-control" disabled />
        </div>

        <!-- Product Type -->
        <div class="mb-3 row p-1">
            <label asp-for="Product.Type" class="col-form-label p-0"></label>
            <input asp-for="Product.Type" class="form-control" disabled />
        </div>

        <!-- Product Price -->
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price" class="col-form-label p-0"></label>
            <input asp-for="Product.Price" class="form-control" disabled />
        </div>

        <!-- Product Quantity -->
        <div class="mb-3 row p-1">
            <label asp-for="Product.Quantity" class="col-form-label p-0"></label>
            <input asp-for="Product.Quantity" class="form-control" disabled />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/Products/Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>
